@font-face {
  font-family: 'Bahiana';
  src: url('fonts/Bahiana-Regular.ttf');
}

.root {
  -fx-font-family: 'Bahiana';
  -fx-background-color: #191A20;
}

.interaction-background {
  -fx-fill: linear-gradient(to bottom, #777DA1, #9773FD);
}

.elements-background {
  -fx-background-color: linear-gradient(to bottom, #777DA1, #9773FD);
}

.header {
  -fx-font-size: 100px;
  -fx-fill: #F5F5F5;
  -fx-font-family: 'Bahiana';
  -fx-text-alignment: center;
}

.paragraph {
  -fx-font-size: 40px;
  -fx-fill: #FF7171;
  -fx-font-family: 'Bahiana';
  -fx-text-alignment: center;
}

.sub-header {
  -fx-font-size: 40px;
  -fx-fill: #191A20;;
  -fx-font-family: 'Bahiana';
  -fx-text-alignment: center;
}

.caption {
  -fx-font-size: 20px;
  -fx-fill: #FF7171;
  -fx-font-family: 'Bahiana';
  -fx-text-alignment: center;
}

.button {
  -fx-background-color: #777DA1;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 6;
  -fx-font-size: 30px;
  -fx-fill: #191A20;
}

.white-button {
  -fx-background-color: #F5F5F5;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 6;
  -fx-font-size: 25px;
  -fx-fill: #191A20;
}

.button:hover, .authoring-button:hover {
  -fx-background-color: #9773FD;
}

.white-button:hover {
  -fx-background-color: #FF7171;
}

.grid {
  -fx-border-color: #777DA1;
  -fx-background-color: #191A20;
  -fx-border-width: 2;
}

.flowpane {
  -fx-background-color: #343342;
}

.flowpane-gradient {
  -fx-background-color: linear-gradient(to bottom, #777DA1, #9773FD);
 }

.text-field {
  -fx-background-color: #F5F5F5;
  -fx-text-fill: #FF7171;
  -fx-font-size: 16px;
}

.text-field-dark {
  -fx-background-color: #191A20;
  -fx-text-fill: #FF7171;
  -fx-font-size: 20px;
  -fx-border-width: 4px;
  -fx-border-color: #777DA1;
}

.label {
  -fx-text-fill: #FF7171;
  -fx-font-size: 20px;
}

.combo-box {
  -fx-text-fill: #191A20;
  -fx-font-size: 25px;
  -fx-background-color: #777DA1;
}

.combo-box-white {
  -fx-text-fill: #191A20;
  -fx-font-size: 25px;
  -fx-background-color: #F5F5F5;
}

.row-cell {
  -fx-background-color: #F5F5F5;
  -fx-border-width: 3px;
  -fx-padding: 0;
  -fx-font-size: 30px;
  -fx-fill: #191A20;
}